body{
	background-color: #333333;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-family: proxima-nova;
}
#menu{
	float: left;
	width: 11%;
	height: 100vh;
	background-color: white;
	margin: 0;
}
#sidebar{
	position: relative;
	top: 5%;
	left: 25%;
}
#home{
	font-size: 1.4vw;
	text-decoration: none;
	font-family: proxima-nova;
	
}
#projects{
	font-size: 1.4vw;
	text-decoration: none;
	font-family: proxima-nova;
}
#nev{
	margin-left: 5%;
	font-size: 1.7vw;
	text-align: left;
}
.frame{
	float: right; 
	width: 89%; 
	height: 99vh;
	border: none;
}
.gomb{
	color: #222222;
	display: block;
	transition: all 0.15s ease;
}
.gomb:hover{
	color: #888888;
	margin-left: 0.2vw;
}
#almenu{
	font-size: 1.4vw;
	text-decoration: none;
	font-family: proxima-nova;
	margin-left: 0.7vw;
	transition: all 0.15s ease;
}
#almenu:hover{
	margin-left: 0.9vw;
}
@font-face {
 font-family:proxima-nova;
 src: url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/a?subset_id=2&fvd=n3&v=3) format("opentype");
 font-style:normal;
 font-display:auto;
}