body{
	background-color: #333333;
	margin: 0px 0px 0px 0px;
	font-family: proxima-nova;
}
#menu{
	float: left;
	width: 200px;
	height: 100vh;
	background-color: white;
	margin: 0px 0px 0px 0px;
}
#home{
	position: relative;
	top: 50px;
	left: 50px;
	font-size: 20px;
	text-decoration: none;
	color: #222222;
	font-family: proxima-nova;
}
#projects{
	position: relative;
	top: 50px;
	left: 50px;
	font-size: 20px;
	text-decoration: none;
	color: #222222;
	font-family: proxima-nova;
}
#pilis{
	position: relative;
	top: 50px;
	left: 60px;
	font-size: 20px;
	text-decoration: none;
	color: #222222;
	font-size: 20px;
}
#monor{
	position: relative;
	top: 50px;
	left: 60px;
	font-size: 20px;
	text-decoration: none;
	color: #888888;
	font-size: 20px;
}
#nev{
	margin-left: 20px;
}
#kozepso{
	text-decoration: none;
	position: relative;
	left: 100px;
	top: 40px;
}
a.gomb:hover{
	color: #888888;
	margin-left: 5px;
	transition: 0.15s;
}
body a{
	-webkit-transition: all 0.15s ease-in-out;
}
@font-face {
 font-family:proxima-nova;
 src: url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/a?subset_id=2&fvd=n3&v=3) format("opentype");
 font-style:normal;
 font-display:auto;
}
#kisto1{
	height: 180px;
	width: 320px;
	margin: 20px;
	float: left;
	border: 2px solid white;
	border-radius: 3px;
	transition: all 0.2s ease-in-out;
}
#kisto1:hover{
	transform: scale(1.1);
	border-color: gray;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  height: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #222;
}
.popup .close:hover {
  color: gray;
}
.popup img{
	position: relative;
	top: center;
	height: 67%;
 	width: 94%;
}