body{
	background-color: #333333;
	margin: 0px 0px 0px 0px;
	font-family: proxima-nova;
}
#menu{
	float: left;
	width: 200px;
	height: 938px;
	background-color: white;
	margin: 0px 0px 0px 0px;
}
#home{
	position: relative;
	top: 50px;
	left: 50px;
	font-size: 20px;
	text-decoration: none;
	color: #222222;
	font-family: proxima-nova;
}
#projects{
	position: relative;
	top: 50px;
	left: 50px;
	font-size: 20px;
	text-decoration: none;
	color: #222222;
	font-family: proxima-nova;
}
#pilis{
	position: relative;
	top: 50px;
	left: 60px;
	font-size: 20px;
	text-decoration: none;
	color: #888888;
	font-size: 20px;
}
#monor{
	position: relative;
	top: 50px;
	left: 60px;
	font-size: 20px;
	text-decoration: none;
	color: #222222;
	font-size: 20px;
}
#nev{
	margin-left: 20px;
}
#kozepso{
	text-decoration: none;
	position: relative;
	left: 100px;
	top: 40px;
}
a.gomb:hover{
	color: #888888;
	margin-left: 5px;
	transition: 0.15s;
}
body a{
	-webkit-transition: all 0.15s ease-in-out;
}
@font-face {
 font-family:proxima-nova;
 src: url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/a?subset_id=2&fvd=n3&v=3) format("opentype");
 font-style:normal;
 font-display:auto;
}