body{
	background-color: #333333;
	margin: 0px 0px 0px 0px;
	font-family: proxima-nova;
}
#menu{
	float: left;
	width: 200px;
	height: 938px;
	background-color: white;
	margin: 0px 0px 0px 0px;
}
#home{
	position: relative;
	top: 50px;
	left: 50px;
	font-size: 20px;
	color: #222222;
	text-decoration: none;
}
#nev{
	margin-left: 20px;
}
#projects{
	position: relative;
	top: 50px;
	left: 50px;
	font-size: 20px;
	text-decoration: none;
	color: #888888;
	margin-left: 5px;
}
#monor{
	position: relative;
	top: 50px;
	left: 60px;
	font-size: 20px;
	text-decoration: none;
	color: #222222;
	font-size: 20px;
}
#kozepso{
	text-decoration: none;
	position: relative;
	left: 250px;
	top: -140px;
	color: black;
	filter: blur(0.2px);
	text-align: center;
	background-color: white;
	transition: all 0.5s ease-in-out;
}
#kozepso:hover{
	filter: blur(0);
}
#monorkep{
	height: 180px;
	width: 320px;
}
#kep{
	padding-bottom: 6px;
	background-color: white;
	transition: all 0.5s ease-in-out;
	border: 2px solid white;
	border-radius: 3px;
	width: 324px;
}
#kep:hover{
	/*height: 118.125px;
	width: 210px;*/
	background-color: gray;
	transform: scale(1.1);
	border-color: gray;
}
a.gomb:hover{
	color: #888888;
	margin-left: 5px;
	transition: 0.15s;
}
body a{
	-webkit-transition: all 0.15s ease-in-out;
}
@font-face {
 font-family:proxima-nova;
 src: url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/a?subset_id=2&fvd=n3&v=3) format("opentype");
 font-style:normal;
 font-display:auto;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;

}
.popup img{
	height: 90px;
 	width: 160px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}